<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:iis="http://wixtoolset.org/schemas/v4/wxs/iis">
	<Package Name="MSIInstaller" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="4023ae85-f57c-4c34-b272-20f57fc78d8f">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<Feature Id="Main">
			<ComponentGroupRef Id="ExampleComponents" />
			<ComponentGroupRef Id="HarvestedFileComponentGroups"/>
		</Feature>
	</Package>

	<Fragment>
		<StandardDirectory Id="ProgramFilesFolder">

			<!-- Create a folder inside program files -->
			<Directory Id="ROOTDIRECTORY" Name="!(bind.Property.Manufacturer)">

				<!-- Create a folder within the parent folder given the name -->
				<Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" >
					<Directory Id="TEST_DIR"  Name="test dir">
						<Directory Id="HARVESTED_FILES" Name="files"/>
					</Directory>
				</Directory>
				
			</Directory>
		</StandardDirectory>
	</Fragment>


	
</Wix>
