<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:iis="http://wixtoolset.org/schemas/v4/iis">
	<Package Name="MSIInstaller" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="4023ae85-f57c-4c34-b272-20f57fc78d8f">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<Feature Id="Main">
			<ComponentGroupRef Id="ExampleComponents" />
			<ComponentRef Id="IISWebsiteComponent" />
		</Feature>
	</Package>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="inetpub" Name="inetpub">
				<Directory Id="wwwroot" Name="wwwroot">
					<Directory Id="INSTALLFOLDER" Name="MyWebsite" />
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<Component Id="IISWebsiteComponent" Guid="{F3E1D74E-49DB-43A1-9940-342287982FBE}">
			<iis:WebSite Id="MyWebsite" Description="My Website" Directory="INSTALLFOLDER">
				<iis:WebAddress Id="AllUnassigned" Port="8080" />
				<iis:WebApplication Id="MyWebApp" Name="MyWebApp" WebAppPool="DefaultAppPool" />
			</iis:WebSite>
			<CreateFolder />
			<RemoveFolder Id="RemoveINSTALLFOLDER" On="uninstall" />
			<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
		</Component>
	</Fragment>
</Wix>
